@media (max-width: 320px) {
.header{
    padding: 32px 8px;
}

.burger {
    display: block;
}

.header-nav{
    background-color: #B53B1B;
    position: fixed;
    top: 96px;
    left: -100%;
    width: 240px;
    padding: 16px;
    transition: all 0.4s;
}

.show{
    left: 0;
}

.nav-list {
    
    flex-direction: column;
    display: block;
}

.nav-center-link-header{
    padding-top: 26px;
    padding-bottom: 26px;
}
    
.header-logo{
    display: none;
}
.header-logo-320{
    display: block;
}
.header-logo-320{
    padding-left: 65px;
    padding-right: 65px;
}
.header-right{
    column-gap: 8px;
}
.sign{
    display: none;
}
.sign-logo{
    display: block;
}

.banner-title{
    font-size: 24px;
    padding-bottom: 32px;
}

.img{
    padding-right: 16px;
}

.products-container{
    overflow-x: scroll;

}

.footer{
    padding-top: 30px;
    flex-direction: column;
}

.left-section{
padding-right: 102px;
/* background-color: aqua; */

}

.footer-center{
    padding-left: 43px;
    padding-right: 43px;
    height: 44px;
    /* background-color: blanchedalmond; */
}



.left-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.right-footer{
    padding-left: 108px;
    padding-right: 108px;
}

.right-footer-ul{
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.contact-footer{
    display: none;
}

/* artworks-section */

/* .header-nav{
    background-color: #B53B1B;
    position: fixed;
    top: 96px;
    left: -100%;
    width: 240px;
    padding: 16px;
    transition: all 0.4s;
}

.show{
    left: 0;
}

.nav-list {
    
    flex-direction: column;
    display: block;
} */


.artworks-section{
    padding-top: 32px;
    padding-left: 8px;
    padding-right: 8px;
}

.artwork-title{
    font-size: 16px;
    
}

.sort-span{
    display: none;
}

.sort-button{
    width: 61px;
    height: 40px;
    justify-content: center;
}

.cards-section{
    grid-template-columns: 1fr;
}

.cards-container{
    width: 304px;
}

.cards-img{
    width: 272px;
}

.cards-container{
    margin-top: 40px;
}

.none-mobile{
    display: none;
}

.delete{
    display: none;
}
/* contact */


.contact-container {
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 20px 10px;
    gap: 20px;
    margin-top: 96px;
  }

  .inputs-section {
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
  }

  .inputs {
    width: 100%;
  }

  .box,
  .box1,
  .message,
  .submit-button {
    max-width: 100%;
    width: 100%;
  }

  .submit-button:hover {
    width: 100%;
    height: 60px;
  }

  .tag-section {
    flex-direction: row;
    justify-content: center;
    gap: 12px;
    padding-left: 0;
    width: 100%;
    margin-top: 20px;
  }

  .tags {
    width: 44px;
    height: 44px;
  }

  .tags:hover {
    width: 46px;
    height: 46px;
  }

  .map {
    max-width: 100%;
    height: 200px;
    margin-top: 30px;
  }

  .box-title {
    font-size: 28px;
    line-height: 36px;
    padding: 10px;
  }

}

